h1 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  font-family: Inter;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  margin-top: 50px;

  font-family: Inter;
}
h3 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: center;
  margin-top: 50px;

  font-family: Inter;
}

.div-all {
  position: relative;
  z-index: 2;
}

.div-input span {
  color: rgb(255, 0, 0);
  margin-left: 10px;
}
