<h1 class="text-2xl font-medium mb-5">Estimé votre devis</h1>
<div class="div-all flex flex-wrap justify-between">
  <div
    class="flex-1 max-w-xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden md:max-w-xl m-4 mt-9 border-gray-300 border-2"
  >
    <h2 class="text-lg font-medium mb-5">Envoyez votre estimation</h2>
    <div class="md">
      <div class="p-20">
        <form action="" class="space-y-4" [formGroup]="form">
          <div class="div-input">
            <label for="nom" class="block text-sm font-medium text-gray-700"
              >Nom *
              <span
                *ngIf="form.controls['nom'].touched && form.controls['nom'].errors?.['required']"
                >Merci de compléter le champs</span
              ></label
            >
            <input
              type="text"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="nom"
              placeholder="Nom"
              formControlName="nom"
            />
          </div>
          <div class="error-container"></div>
          <div class="div-input">
            <label for="nom" class="block text-sm font-medium text-gray-700"
              >Prénom *
              <span
                *ngIf="form.controls['prenom'].touched && form.controls['prenom'].errors?.['required']"
                >Merci de compléter le champs
              </span></label
            >
            <input
              type="text"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="nom"
              placeholder="Prénom"
              formControlName="prenom"
            />
          </div>
          <div class="div-input mb-4">
            <label
              class="block text-gray-700 text-sm font-medium mb-2"
              for="phone"
            >
              Numéro de téléphone *
              <span
                *ngIf="form.controls['num'].touched && form.controls['num'].errors?.['required'] "
                >Merci de compléter le champs "Numéro de téléphone"</span
              >
              <span *ngIf=" form.controls['num'].errors?.['pattern']"
                >Merci de compléter avec un numéro de téléphone valide</span
              >
            </label>

            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="phone"
              type="number"
              placeholder="Numéro de téléphone"
              name="num"
              formControlName="num"
            />
          </div>

          <div class="div-input">
            <label for="nom" class="block text-sm font-medium text-gray-700"
              >Email *
              <span
                *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']"
                >Merci de compléter le champs
              </span>
              <span
                *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']"
                >Merci de compléter avec un email valide</span
              ></label
            >
            <input
              type="text"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="nom"
              placeholder="Email"
              formControlName="email"
            />
          </div>

          <div class="div-input">
            <label for="statut" class="block text-sm font-medium text-gray-700"
              >Type de client *
              <span
                *ngIf="form.controls['typeclient'].touched && form.controls['typeclient'].errors?.['required'] "
                >Merci de compléter le champs</span
              ></label
            >
            <select
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="statut"
              formControlName="typeclient"
            >
              <option value="">Sélectionnez...</option>
              <option value="Partuculier">Particulier</option>
              <option value="Professionnel">Professionnel</option>
            </select>
          </div>

          <div>
            <label for="" class="block text-sm font-medium text-gray-700"
              >Nom de l'entreprise</label
            >
            <input
              type="texte"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="name_entreprise"
              name="name_entreprise"
              placeholder="Nom de l'entreprise"
              formControlName="societe"
            />
          </div>
          <div class="div-input">
            <label for="surface" class="block text-sm font-medium text-gray-700"
              >Surface au sol (en m²) *
              <span
                *ngIf="form.controls['surface'].touched && form.controls['surface'].errors?.['required'] "
                >Merci de compléter le champs
              </span></label
            >
            <input
              type="number"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="surface"
              name="surface"
              placeholder="Surface en m²"
              formControlName="surface"
            />
          </div>
          <div>
            <label for="style" class="block text-sm font-medium text-gray-700"
              >Style de peinture
            </label>
            <select
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="style"
              name="style"
              formControlName="peinture"
            >
              <option value="">Sélectionnez...</option>
              <option value="Matte">Matte</option>
              <option value="Brillant">Brillant</option>
            </select>
          </div>

          <div class="div-input">
            <label for="surface" class="block text-sm font-medium text-gray-700"
              >Prix estimé *
              <span
                *ngIf="form.controls['estimation'].touched && form.controls['estimation'].errors?.['required']"
                >Merci de compléter le champs</span
              >
            </label>
            <input
              type="number"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="surface"
              name="surface"
              placeholder="Estimation du prix"
              formControlName="estimation"
            />
          </div>
          <div class="div-input">
            <label class="block text-sm font-medium text-gray-700"
              >Description du projet *
              <span
                *ngIf="form.controls['description'].touched && form.controls['description'].errors?.['required']"
                >Merci de compléter le champs</span
              ></label
            >
            <textarea
              type="text"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="description"
              name="description"
              placeholder="Description de votre projet "
              formControlName="description"
            ></textarea>
          </div>
          <div class="flex flex-col">
            <button
              type="submit"
              class="w-15 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
              (click)="postDataDevis()"
            >
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Formulaire d'estimation du devis -->

  <div
    class="flex-1 max-w-xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden md:max-w-xl m-4 mt-9 border-gray-300 border-2"
  >
    <h2 class="text-lg font-medium mb-5">Estimer votre prix</h2>

    <div class="md">
      <div class="p-20">
        <form action="" class="space-y-4">
          <div>
            <label for="surface" class="block text-sm font-medium text-gray-700"
              >Surface au sol (en m²)
            </label>
            <select
              name="surface"
              id="surface"
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              [(ngModel)]="surface"
            >
              <option value="0">Sélectionnez...</option>
              <option value="15">15 m²</option>
              <option value="30">30 m²</option>
              <option value="60">60 m²</option>
            </select>
          </div>
          <div>
            <label for="etat" class="block text-sm font-medium text-gray-700"
              >État actuel</label
            >
            <select
              class="mt-1 block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
              id="style"
              name="style"
              [(ngModel)]="etat"
            >
              <option value="0">Sélectionnez...</option>
              <option value="1">Bon</option>
              <option value="2">Moyen</option>
            </select>
          </div>
          <div class="estimation-result" name="estimation">
            <div>
              <h3>Estimation : {{ estimation }} €</h3>
            </div>
          </div>
          <div class="flex flex-col">
            <button
              (click)="estimate()"
              type="button"
              class="w-15 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mb-4"
            >
              Estimer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-background></app-background>

<!--
<div class="bandes-colors">
  <div class="colors-blue"></div>
  <div class="colors-grey"></div>
  <div></div>
</div>
-->
