<h1 class="text-center md:text-left">Contact</h1>
<div class="overflow-x-auto">
  <table
    class="fixed-layout min-w-8 divide-y divide-gray-200 mx-auto mb-8 rounded.md"
  >
    <tbody class="bg-white divide-y divide-gray-200">
      <tr>
        <th class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          ID
        </th>
        <th class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          Nom
        </th>
        <th class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          Prénom
        </th>
        <th class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          Email
        </th>

        <th
          class="fixed-width px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500"
        >
          Description
        </th>
      </tr>

      <tr *ngFor="let item of data">
        <td class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          {{ item.id }}
        </td>
        <td class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          {{ item.nom }}
        </td>
        <td class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          {{ item.prenom }}
        </td>
        <td class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          {{ item.email }}
        </td>

        <td
          class="fixed-width px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500"
        >
          {{ item.description }}
        </td>
        <td class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <button
            class="px-2 md:px-4 py-1 md:py-2 bg-red-500 text-white hover:bg-red-700 rounded-md"
            (click)="delete(item.id)"
          >
            Delete
          </button>
        </td>
        <td class="px-2 md:px-6 py-4 whitespace-nowrap text-sm text-gray-500">
          <button
            [routerLink]="['/admin', 'details', item.id]"
            class="px-2 md:px-4 py-1 md:py-2 bg-blue-500 text-white hover:bg-blue-700 rounded-md"
          >
            Détails
          </button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
