h1 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  font-family: Inter;
}

.fixed-width {
  width: 200px !important;
  overflow: hidden;
}
