@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 70px;
  z-index: 5;
}
.icon-menu {
  visibility: hidden;
}

.lien {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition-property: color;
  transition-duration: 0.1s;
}
li {
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  position: relative;
}

.contact {
  margin-left: 30px;
  background-color: rgba(84, 115, 189, 1);
  padding: 5px 10px;
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: 0.1s;
}
.contact:hover {
  background-color: rgba(84, 115, 189, 0.8);
  cursor: pointer;
}
.contact a {
  color: white;
}

a:hover {
  cursor: pointer;
  color: rgb(95, 95, 95);
}
.div-img {
  width: fit-content;
}
.div-img img {
  width: 70px;
  height: auto;
  border-radius: 7px;
  margin-right: 100px;
}

.menu-none {
  display: flex;
  gap: 10px;
  align-items: center;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 860px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 70px;
    z-index: 5;
  }

  .lien {
    display: flex;
    flex-direction: column;
  }
  .div-img img {
    width: 70px;
    height: auto;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-menu {
    visibility: visible;
    position: fixed;
    left: 0;
    margin-left: 20px;
  }

  .burger-menu.active {
    top: 0; /* Position finale, affiche le menu */
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 65px;
    top: -100%; /* Position initiale, cache le menu */
    transition: top 0.5s ease-in-out; /* Anime la propriété left */
    z-index: 3;
    background-color: white;
    padding: 10px;
    width: 100%;
    vertical-align: middle;
  }
  .menu-none {
    display: none;
  }
  .contact {
    margin-left: 0px;
  }

  li {
    padding: 5px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}
