<nav class="navbar">
  <ul class="lien">
    <div class="div-img">
      <a routerLink="/"> <img src="../../../assets/icon/logo.png" alt="" /> </a>
    </div>
    <li><a class="" routerLink="/">Accueil</a></li>

    <li>
      <a class="" routerLink="/devis">Devis</a>
    </li>
    <li>
      <a class="" routerLink="/realisation">Réalisation</a>
    </li>
    <li>
      <a class="" routerLink="/a-propos">À propos</a>
    </li>

    <li>
      <div class="contact" routerLink="/contact">
        <a class="">Contact</a>
      </div>
    </li>
  </ul>
</nav>
