<h1 class="text-2xl font-medium mb-5">Contactez-nous !</h1>
<form
  [formGroup]="form"
  class="max-w-xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden md:max-w-xl m-4 mt-9"
>
  <div class="div-input p-8">
    <div class="div-input mb-4">
      <label
        class="block text-gray-700 text-sm font-medium mb-2"
        for="lastname"
      >
        Nom *
        <span
          *ngIf="form.controls['nom'].touched && form.controls['nom'].errors?.['required']"
          >Merci de compléter le champs "Nom"</span
        >
      </label>

      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="nom"
        type="text"
        placeholder="Nom"
        name="nom"
        formControlName="nom"
      />
    </div>

    <div class="div-input mb-4">
      <label
        class="block text-gray-700 text-sm font-medium mb-2"
        for="firstname"
      >
        Prénom *
        <span
          *ngIf="form.controls['prenom'].touched && form.controls['prenom'].errors?.['required']"
          >Merci de compléter le champs "Prénom"</span
        >
      </label>

      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="prenom"
        type="text"
        placeholder="Prénom"
        name="prenom"
        formControlName="prenom"
      />
    </div>

    <div class="dic-input mb-4">
      <label class="block text-gray-700 text-sm font-medium mb-2" for="email">
        Email *
        <span
          *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']"
          >Merci de compléter le champs "email"</span
        >
        <span
          *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']"
          >Merci de compléter avec un email valide</span
        >
      </label>

      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        name="email"
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </div>

    <div class="div-input mb-4">
      <label class="block text-gray-700 text-sm font-medium mb-2" for="phone">
        Numéro de téléphone *
        <span
          *ngIf="form.controls['num'].touched && form.controls['num'].errors?.['required'] "
          >Merci de compléter le champs "Numéro de téléphone"</span
        >
        <span *ngIf=" form.controls['num'].errors?.['pattern']"
          >Merci de compléter avec un numéro de téléphone valide</span
        >
      </label>

      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="phone"
        type="number"
        placeholder="Numéro de téléphone"
        name="num"
        formControlName="num"
      />
    </div>

    <div class="div-input mb-6">
      <label
        class="block text-gray-700 text-sm font-medium mb-2"
        for="description"
      >
        Description de votre projet *
        <span
          *ngIf="form.controls['description'].touched && form.controls['description'].errors?.['required']"
          >Merci de compléter le champs</span
        >
      </label>
      <textarea
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="description"
        placeholder="Description"
        name="description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="flex items-center justify-between">
      <button
        class="bg-blue-500 mt-9 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
        (click)="postData()"
        routerLink="/feedback-contact"
      >
        Envoyer
      </button>
    </div>
  </div>
</form>
