h1 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  font-family: Inter;
}

.div-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error-container {
  color: rgb(255, 0, 0);
  position: relative;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 10px;
}

.fixed-width {
  width: 200px !important;
}

.div-input span {
  color: rgb(255, 0, 0);
  margin-left: 10px;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .form {
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
