<div class="container">
  <h1 class="text-2xl font-medium mb-5">Mentions Légales</h1>

  <h2 class="text-lg font-medium mb-5">Éditeur du site</h2>

  <p>
    Raison sociale : MS Décoration <br />
    Adresse : 1 rue de la Paix, 75000 Paris
    <br />Téléphone : 01 23 45 67 89 <br />Email :
    simon.merletti&#64;ms-décoration.fr <br />
    Nom du directeur de la publication : Merletti Simon
  </p>

  <h2 class="text-lg font-medium mb-5">Hébergeur</h2>

  <p>
    Raison sociale : Amen <br />
    Adresse : 1 rue de la Paix, 75000 Paris
    <br />Téléphone : 01 23 45 67 89 <br />Email :
    simon.merletti&#64;ms-décoration.fr <br />
    Nom du directeur de la publication : Merletti Simon
  </p>

  <h2 class="text-lg font-medium mb-5">
    Numéro d’inscription au Registre du Commerce et des Sociétés (RCS)
  </h2>

  <p>
    Pour les sociétés, le numéro d'inscription au RCS ou au Répertoire des
    métiers (RM) ainsi. <br />
    Numéro SIRET.
  </p>
</div>
