.navbar {
  margin-top: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container svg {
  transition-property: transform;
  transition-duration: 0.5s;
}

.container svg:hover {
  cursor: pointer;
  transform: rotate(90deg) scale(1.2);
}
