<div class="div-img">
  <img src="../../../assets/img/logo_detaille_bleu.png" alt="" />
</div>

<div class="container1">
  <div class="texte">
    <div class="bg-titre">
      <h1 class="titre1">Vous avez des projets de travaux d'intérieur ?</h1>
    </div>
    <div class="bg-titre">
      <h1 class="titre">
        MS Décoration est là pour vous dans toute le France !
      </h1>
    </div>
    <p class="sous-titre">
      MS Décoration est à votre disposition pour réaliser tous vos travaux de
      décoration. Nous réalisons la peinture intérieure et extérieure de votre
      bâtiment. <br />
      Nous proposons également nos services pour des ravalements de façades
      ainsi que pour la pose de revêtement.
    </p>
  </div>

  <div class="cercle-gris">
    <div class="cercle-bleu-claire">
      <div class="cercle-bleu-fonce">
        <div class="img-cuisine">
          <img src="../../../assets/img/photo/IMG_9283.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container1">
  <div class="cercle-gris">
    <div class="cercle-bleu-claire">
      <div class="cercle-bleu-fonce">
        <div class="img-cuisine">
          <img src="../../../assets/img/photo/IMG_9283.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="texte">
    <div class="bg-titre-2">
      <h1 class="titre1-2">Peinture</h1>
    </div>

    <p class="sous-titre">
      Faites appel à nos compétences pour peindre votre maison ou votre local de
      travail. Que ce soit en neuf ou en rénovation, nous sommes à votre
      service. <br />
      <br />
      Nous pouvons intervenir sur des travaux de peinture de toute envergure.
      Nous restons à votre écoute afin de réaliser les travaux selon vos envis
      dans les meilleurs délais.
    </p>
  </div>
</div>
