<h1 class="text-center md:text-left">Détails</h1>

<div href="#" class="div-princ">
  <div class="div-container-1">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-black">
      {{ data?.nom }}
      {{ data?.prenom }} <br /><br />
    </h5>
    Société : {{ data?.societe }}
    <br />
    <br />
    <p class="font-normal text-gray-700 dark:text-gray-700">
      <span class="titre"> Date de dépôt :</span> <br />
      {{ data?.date_demande }} <br /><br />
      <span class="titre">Email :</span> <br />
      {{ data?.email }} <br />
      <br />
      <span class="titre"> Numéro de téléphone :</span> <br />

      0{{ data?.num }} <br /><br />
      <span class="titre">Surface de travaux :</span> <br />
      {{ data?.surface }} m² <br />
      <br />
      <span class="titre">Style de peinture :</span> <br />
      {{ data?.peinture }} <br />
      <br />
      <span class="titre">Prix estimé :</span> <br />
      {{ data?.estimation }} € <br />
      <br />
    </p>
  </div>

  <div class="div-container-2">
    <p class="font-normal text-gray-700 dark:text-gray-700">
      <span class="titre"
        >Description du projet de monsieur {{ data?.nom }}
        {{ data?.prenom }} :</span
      >
      <br />

      <br />
      {{ data?.description }}
    </p>
  </div>
</div>
