<h1 class="text-2xl font-medium mb-5">Qui sommes-nous ?</h1>

<div class="texte">
  <p>
    Depuis 2014 MS Décoration est une entreprise de travaux de peinture à la
    hauteur de vos attentes. Nous sommes spécialisés dans la rénovation de votre
    intérieur. Nous vous proposons des prestations de qualité pour embellir
    votre habitat.
  </p>
  <br />
  <p>
    Nous sommes à votre écoute pour vous conseiller et vous accompagner dans vos
    projets de décoration. Nous vous garantissons un travail soigné et de
    qualité.
  </p>
  <br />
  <p>
    Nous intervenons dans les meilleurs délais pour vous satisfaire. Nous vous
    proposons des devis gratuits et personnalisés. Nous vous garantissons un
    travail soigné et de qualité. <br />
    Nous intervenons dans les meilleurs délais pour vous satisfaire.
  </p>
</div>

<h2 class="text-lg font-medium mb-5">
  MS Décoration est au service des entreprises et des particuliers
</h2>

<div class="logo-client">
  <img
    class="img img1 logo1"
    src="../../../assets/img/logo-client/LVMH-logo.png"
    alt=""
  />
  <img
    class="img img2 logo2"
    src="../../../assets/img/logo-client/Flo Prestige.png"
    alt=""
  />
  <img
    class="img img3 logo3"
    src="../../../assets/img/logo-client/Logo_Foncia.png"
    alt=""
  />
  <img
    class="img img4 logo4"
    src="../../../assets/img/logo-client/logo-marianne.png"
    alt=""
  />
</div>

<div class="logo-client2">
  <img
    class="img img5 logo5"
    src="../../../assets/img/logo-client/png-moet-hennessy-logo.png"
    alt=""
  />
  <img
    class="img img6 logo6"
    src="../../../assets/img/logo-client/sephora-logo-0.png"
    alt=""
  />
  <img
    class="img img7 logo7"
    src="../../../assets/img/logo-client/png-LV.png"
    alt=""
  />
</div>
