<h1 class="text-2xl font-medium mb-5">Réalisation</h1>

<div class="real">
  <div class="div-img-text">
    <div class="cercle-gris">
      <img
        class="img img1"
        src="../../../assets/img/photo/IMG_1798.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      blanditiis iusto at quia ipsum consequatur mollitia inventore, libero
      excepturi. Reiciendis magnam omnis, eaque dignissimos numquam quod
      veritatis saepe in! Pariatur?
    </p>
  </div>
  <div class="div-img-text">
    <div class="cercle-gris">
      <img
        class="img img1"
        src="../../../assets/img/photo/IMG_8403.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      blanditiis iusto at quia ipsum consequatur mollitia inventore, libero
      excepturi. Reiciendis magnam omnis, eaque dignissimos numquam quod
      veritatis saepe in! Pariatur?
    </p>
  </div>
  <div class="div-img-text">
    <div class="cercle-gris">
      <img
        class="img img1"
        src="../../../assets/img/photo/IMG_8400.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      blanditiis iusto at quia ipsum consequatur mollitia inventore, libero
      excepturi. Reiciendis magnam omnis, eaque dignissimos numquam quod
      veritatis saepe in! Pariatur?
    </p>
  </div>
  <div class="div-img-text">
    <div class="cercle-gris">
      <img
        class="img img1"
        src="../../../assets/img/photo/IMG_8401.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      blanditiis iusto at quia ipsum consequatur mollitia inventore, libero
      excepturi. Reiciendis magnam omnis, eaque dignissimos numquam quod
      veritatis saepe in! Pariatur?
    </p>
  </div>
  <div class="div-img-text">
    <div class="cercle-gris">
      <img
        class="img img1"
        src="../../../assets/img/photo/IMG_8404.jpg"
        alt=""
      />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
      blanditiis iusto at quia ipsum consequatur mollitia inventore, libero
      excepturi. Reiciendis magnam omnis, eaque dignissimos numquam quod
      veritatis saepe in! Pariatur?
    </p>
  </div>
</div>
